<!doctype html>
<html lang="en">

<head>
    <title>管理员 · qrot</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <!-- mycss -->
    <link rel="stylesheet" href="css/manager.css">

</head>

<body>
    <div class="container" id="app">
        <!-- 头部 -->
        <div class="row" id="head">
            <div class="jumbotron jumbotron-fluid col-lg-12 p-2">
                <div class="container">
                    <!-- logo -->
                    <div class="row">
                        <img src="img/logo.png" alt="logo" class="img-fluid" style="width:20%;height:10%">
                    </div>
                    <!-- info welcome -->
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="lead">{{ lead }}</p>
                        </div>
                        <div class="col-lg-2 text-right">
                            <p class="h6">{{ welcome }}</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <!-- 内容 -->
        <div class="row">
            <!-- 左边列表 -->
            <div class="list-group col-lg-3 col-md-4 ml-5 text-center" id="left-list">
                <button class="list-group-item list-group-item-action active">添加书籍</button>
                <button class="list-group-item list-group-item-action">书籍管理</button>
                <button class="list-group-item list-group-item-action">统计报表</button>
                <button class="list-group-item list-group-item-action">订单管理</button>
                <button class="list-group-item list-group-item-action">分类管理</button>
                <button class="list-group-item list-group-item-action">推荐设置</button>
                <button class="list-group-item list-group-item-action">书籍上新</button>
            </div>
            <!-- 右边内容 -->
            <div class="col-lg-8 col-md-7" id="right-list">

                <!-- 书籍上架 -->
                <div class="container ml-3 right-content" id="addBook">
                    <form class="row">
                        <div class="form-group col-lg-5">
                            书籍名称：
                            <input v-model="bookName" type="text" class="form-control"> 
                            国际书籍编号：
                            <input v-model="bookISBN" type="text" class="form-control"> 
                            作者：
                            <input v-model="bookAuthor" type="text" class="form-control"> 
                            出版社：
                            <input v-model="bookPublilsh" type="text" class="form-control"> 
                            出版时间：
                            <input v-model="bookPubTime" type="date" class="form-control"> 
                            书籍分类：
                            <input v-model="bookKind" type="text" class="form-control"> 
                            价格：
                            <input v-model="bookPrice" type="text" class="form-control">
                            库存：
                            <input v-model="bookStorage" type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-7 pl-5">
                            <!-- 书籍封面 -->
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-lg-8">
                                    <img src="img/book.jpeg" alt="书籍封面" class="img-fluid">
                                    <div class="custom-file">
                                        <input v-model="bookCover" type="file" class="custom-file-input">
                                        <label class="custom-file-label">上传书籍封面</label>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row mt-3 mb-3">
                                简介：
                                <textarea v-model="bookSummary" class="form-control" rows="5"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="btn btn-primary btn-block btn-sm mt-2" type="reset" value="取消">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <input v-on:click="add()" class="btn btn-primary btn-block btn-sm mt-2" type="submit" value="保存">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 书籍管理 -->
                <div class="clearfix container right-content d-none" id="bookmgr">
                    <div class="input-group mt-3">
                        <input type="text" class="form-control" placeholder="书籍名称或者书籍作者">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">搜索</button>
                        </div>
                    </div>

                    <img src="img/no_books.jpg" class="img-fluid mt-3" alt="无相关信息" style="opacity: 0.5;">

                    <div id="books" class="mt-3">
                        <div class="card float-left">
                            <img class="card-img-top" src="img/book.jpeg" alt="书籍封面">
                            <div class="card-body">
                                <h6 class="card-title book-name">书籍名称</h6>
                                <span class="card-text mr-2">价格</span>
                                <span class="card-text">作者</span>
                                <br>
                                <span class="card-text mr-2">出版社</span>
                                <span class="card-text">出版时间</span>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button href="#" class="btn btn-block btn-sm mt-2" data-toggle="modal" data-target="#modify">
                                            修改
                                        </button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button href="#" class="btn btn-block btn-sm mt-2">
                                            下架
                                        </button>
                                    </div>
                                </div>

                                <div class="modal fade" id="modify" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">修改书籍信息</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                书籍名称：
                                                <input v-model="bookName" type="text" class="form-control"> 
                                                国际书籍编号：
                                                <input v-model="bookISBN" type="text" class="form-control"> 
                                                作者：
                                                <input v-model="bookAuthor" type="text" class="form-control"> 
                                                出版社：
                                                <input v-model="bookPublilsh" type="text" class="form-control"> 
                                                出版时间：
                                                <input v-model="bookPubTime" type="date" class="form-control"> 
                                                书籍分类：
                                                <input v-model="bookKind" type="text" class="form-control"> 
                                                价格：
                                                <input v-model="bookPrice" type="text" class="form-control"> 
                                                库存：
                                                <input v-model="bookQuantity" type="text" class="form-control">
                                                简介：
                                                <textarea v-model="bookSummary" class="form-control" rows="5"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-primary">保存</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <nav class="mt-3">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="上一页">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">下一页</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- 统计报表 -->
                <div class="container right-content d-none">
                    统计报表
                </div>

                <!-- 订单管理 -->
                <div class="container right-content d-none">
                    <div class="row form-group">
                        <div class="col-lg-4 mt-3">
                            <label for="">从</label>
                            <input type="date" class="form-control" style="width:80%">
                        </div>
                        <div class="col-lg-4 mt-3">
                            <label for="">至</label>
                            <input type="date" class="form-control" style="width:80%">
                        </div>
                        <div class="col-lg-4 mt-3">
                            <label for="">状态</label>
                            <select class="form-control" style="width:60%">
                                <option>待付款</option>
                                <option>待发货</option>
                                <option>待收货</option>
                            </select>
                        </div>
                    </div>

                    <div class="container book-item">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>订单ID：</label>
                                <label>234346543</label>
                            </div>
                            <div class="col-lg-4">
                                <label class="text-muted">2018-07-14 10:22:56</label>
                            </div>
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-sm btn-block">修改状态</button>
                            </div>
                        </div>
                        <div class="row order-item">
                            <div class="col-lg-3">
                                <img src="img/book.jpeg" class="img-fluid" alt="书籍封面">
                            </div>
                            <div class="col-lg-8">
                                <label class="mt-2 text-primary book-name">书籍名称</label>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <label>作者：</label>
                                        <label>作者名</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <label>出版社：</label>
                                        <label>出版社</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <label>数量：</label>
                                        <label>2</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <label>单价：</label>
                                        <label>23.56</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <label>小计：</label>
                                        <label>53.22</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <label>总金额：</label>
                                <label>131.45</label>
                            </div>
                            <div class="col-lg-4">
                                <label>订单状态：</label>
                                <label class="text-danger">待发货</label>
                            </div>
                            <div class="col-lg-5">
                                <label>联系方式：</label>
                                <label>18396546577</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>收货人：</label>
                                <label>bob</label>
                            </div>
                            <div class="col-lg-9">
                                <label>收货地址：</label>
                                <label>湖南长沙市雨花区长沙理工大学云塘校区</label>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- 分类管理 -->
                <div class="container right-content d-none">
                    <div class="row form-group">
                        <div class="col-lg-3">
                            <label for="">分类</label>
                            <select class="form-control" style="width:60%">
                                <option>文学</option>
                                <option>小说</option>
                                <option>童书</option>
                            </select>
                        </div>
                    </div>
                    <div id="books" class="mt-3">
                        <div class="card float-left">
                            <img class="card-img-top" src="img/book.jpeg" alt="书籍封面">
                            <div class="card-body">
                                <h6 class="card-title book-name">书籍名称</h6>
                                <span class="card-text mr-2">价格</span>
                                <span class="card-text">作者</span>
                                <br>
                                <span class="card-text mr-2">出版社</span>
                                <span class="card-text">出版时间</span>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button href="#" class="btn btn-block btn-sm mt-2" data-toggle="modal" data-target="#modify">
                                            修改
                                        </button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button href="#" class="btn btn-block btn-sm mt-2">
                                            下架
                                        </button>
                                    </div>
                                </div>

                                <div class="modal fade" id="modify" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">修改书籍信息</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                书籍名称：
                                                <input type="text" class="form-control"> 国际书籍编号：
                                                <input type="text" class="form-control"> 作者：
                                                <input type="text" class="form-control"> 出版社：
                                                <input type="text" class="form-control"> 出版时间：
                                                <input type="date" class="form-control"> 书籍分类：
                                                <input type="text" class="form-control"> 价格：
                                                <input type="text" class="form-control"> 库存：
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-primary">保存</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <nav class="mt-3">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="上一页">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">下一页</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- 推荐设置 -->
                <div class="container right-content d-none">
                    推荐设置
                </div>

                <!-- 书籍上新 -->
                <div class="container right-content d-none">
                    <img src="img/no_books.jpg" class="img-fluid mt-3" alt="无相关信息" style="opacity: 0.5;">

                    <div class="container book-item">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="img/book.jpeg" class="img-fluid mb-3" alt="书籍封面">
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <label class="book-name">书籍名称</label>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 text-muted text-right">
                                        <label>编号：</label>
                                        <label>1453264632532</label>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-lg-4 col-sm-6">
                                        <label>价格：</label>
                                        <label>23.56</label>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <label>作者：</label>
                                        <label>作者名</label>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <label>出版社：</label>
                                        <label>出版社</label>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-lg-4 col-sm-6">
                                        <label>出版时间：</label>
                                        <label>2018.4</label>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <label>库存：</label>
                                        <label>45</label>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <label>分类：</label>
                                        <label>数学科学</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mt-3">
                                        <button type="button" class="btn btn-sm btn-block" data-toggle="popover" data-placement="top" data-content="简介详细信息texttexttexttexttexttexttexttexttexttexttext">
                                            查看简介
                                        </button>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                        <button type="button" class="btn btn-sm btn-block">上新</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- 底部 -->
        <div class="clearfix"></div>
        <p id="copyright">Copyright 2018 by Qrot</p>

    </div>


    <!-- Optional JavaScript -->
    <!-- axios js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

    <!-- my script -->
    <script src="js/manager.js"></script>

</body>

</html>